/* *{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body{
    height: 100vh;
      background:linear-gradient(to bottom,#1e90ff,#3fa9f5,#6ec6ff); 
    display: grid;
    justify-content: center;
    align-items: center;

}
.card{
    background:linear-gradient(to bottom,#1e90ff,#3fa9f5,#6ec6ff);
    background-position: center;
    object-fit: cover;
    padding:30px;
    border: 1px solid transparent;
    border-radius:10px ;
    min-width: 380px;
    align-items:center;
}
.card h1{
    font-size: 40px;
    color:black;
    margin-bottom: 18px;
    margin-left: 45px;
}
#inputbox{
    padding: 8px;
    border: 1px solid teal;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    
}
.btn{
    padding: 8px;
    border: 1px solid teal;
    border-radius: 5px;
    font-size: 16px;
    background-color: aqua;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
.cloud img{
    width: 200px;
   

}
.cloud{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        padding-top: 8px;
}
.text{
    text-align: center;
    margin: 8px 0px;
    color: black;
    flex-direction: column;

}


.temp{
    text-align: center;
    color: black;

}
.temp strong{
    margin-top: 300px;
}
.cloud img{

}
.weather-result{
    margin: 20px 0px;
    font: 28px;
   
}
.image{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.humidity-image img{
    width: 100px;

   
}
.wind-image img{
     width: 100px;
     
}
.wind-strong{
    margin-top: 30px;
} */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
    background: #eaf6ff;
}

/* Card */
.card{
    background: linear-gradient(to bottom,#1e90ff,#3fa9f5,#6ec6ff);
    padding: 30px;
    border-radius: 10px;
    min-width: 380px;
}


.card h1{
    font-size: 40px;
    color: black;
    margin-bottom: 15px;
    text-align: center;
}
.input-group{
    display: flex;
    justify-content: center;
    gap: 8px;
}

#inputbox{
    padding: 8px;
    border: 1px solid teal;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    
  
    
}

.btn{
    padding: 8px 12px;
    border: 1px solid teal;
    border-radius: 10px;
    font-size: 16px;
    background-color: aqua;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover{
    background-color: #00cccc;
}

/* Weather Result Center */
.weather-result{
    margin: 28px 0;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    text-align: center;
}



.text{
    text-align: center;
     font-size: 20px;
     font-weight: bold;
      color: rgb(7, 88, 81)
}
.temp{
    text-align: center;
    font-size: 18px
   
}
.temp{
     color: rgb(7, 88, 81)
}

/* Weather Image */
.cloud{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 146px;
    height: 146px;
    margin-top: -6px;
}

.cloud img{
 width: 300px;
height: 200px
    

}

/* Humidity & Wind */
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 10px;
}

.humidity-image{
     display: flex;
    flex-direction: column;
    font-size: 18px;
}
.humidity-image img{
     width: 100px;
}
.humidity-text{
   margin-top: 6px; 
    color: rgb(7, 88, 81);  
}
.wind-image{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    
}

.wind-image img{
    width: 100px;
}
 .wind-text{
 margin-top: 6px;
 color: rgb(7, 88, 81); 
}
.feel-like-image{
 display: flex;
 flex-direction: column;
font-size: 18px;
}
.feel-like-image img{
 width: 100px; 
}
.feels-like-text{
 margin-top: 6px;
 color: rgb(7, 88, 81); 
}
   


